h2.vets-news{padding-top: 1em;background-image: url("../images/underline.png");background-repeat: no-repeat;background-position: 0 90%;}
ul.attributes {list-style:none outside none;margin-left:0}
ul.attributes li {padding-right:8px;display:inline-block;}
#vetsnews h3 {padding-top:0}
